:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;

    background: #3f51b5;

    a.mat-button {
      background: transparent;
      color: white;
    }
  }
}
