@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$portfolio-app-primary: mat-palette($mat-blue, 700, 300, 900);
$portfolio-app-accent:  mat-palette($mat-cyan, 800, 400, 900);

// The warn palette is optional (defaults to red).
$portfolio-app-warn:    mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-app-theme: mat-light-theme($portfolio-app-primary, $portfolio-app-accent, $portfolio-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-app-theme);
