.parallax {
  height: 200px;
  /* Create the parallax scrolling effect */
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/YqGSkmb/blue-abstract-futuristic-technology-background_epgwz-5yg__F0000.png") no-repeat fixed center;
  background-size: cover;
  margin-top: -5px;
}

.content-container {
  background: #F1F1F1;
  position: relative;

  .img-container {
    position: absolute;
    height: 144px;
    width: 144px;
    background: #000816;
    z-index: 1;
    left: calc(50% - 78px);
    top: -78px;
    border-radius: 50%;
    border: 6px solid white;
    overflow: hidden;

    img {
      width: 144px;
      height: 144px;
    }
  }

  .info-container {
    margin-top: 75px;
  }
}

mat-card {
  &.card-margin {
    margin: 10px 15px;
  }
}
