<div fxFlexFill fxLayout="column">
  <div fxFlex="200px" class="parallax"></div>
  <div class="content-container" fxFlex fxlayout="column">
    <div class="img-container mat-elevation-z3">
      <img src="https://robohash.org/Fake%20Zijl?set=set4">
    </div>
    <div class="info-container" fxFlex fxlayout="column">
      <div fxflex="nogrow" fxLayout="row" fxLayoutAlign="space-around stretch">
        <mat-card class="card-margin" fxflex>
          <mat-card-title>
            Over mij
          </mat-card-title>
          <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut nisi interdum, tempus nisi nec, imperdiet
            est.
            Morbi in eros dapibus leo vulputate mollis eget ut ex. Suspendisse bibendum justo magna, ac ultricies lorem
            auctor ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
            ut blandit purus, sit amet mattis leo. Aenean nibh neque, ornare quis turpis vel, dapibus ultrices dolor.
            Aenean dignissim elit vel ligula pellentesque pharetra. Nulla a metus a diam elementum aliquet. Proin id
            tellus aliquet, sollicitudin augue non, bibendum justo. Maecenas iaculis ut enim a rhoncus.|
          </mat-card-content>
        </mat-card>
      </div>
      <div fxflex="nogrow" fxLayout="row" fxLayout.lt-md="column">
        <mat-card class="card-margin" fxFlex>
          <mat-card-title>
            Programmeertalen
          </mat-card-title>
          <mat-card-content>
            Allemaal icoontjes(?)
            <p>
              Proin in mauris lobortis, convallis eros efficitur, dapibus diam. Suspendisse sodales ornare turpis in
              rutrum. Curabitur venenatis scelerisque imperdiet. Morbi ultrices bibendum ornare. Cras vehicula sit amet
              orci a vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              Nullam nec pretium nibh. Vestibulum laoreet vulputate ante ac maximus. Mauris ultrices sit amet tortor sit
              amet placerat.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-margin" fxFlex>
          <mat-card-title>
            Werk Ervaring
          </mat-card-title>
          <mat-card-content>
            Pluxbox etc (school?)
            <p>
              Aliquam a tellus et enim fermentum efficitur quis eget turpis. Nulla tempus velit felis, eget porta ligula
              vehicula eu. Cras laoreet tempor odio, accumsan gravida enim sagittis bibendum. Sed vehicula augue nisl.
              Donec luctus in risus sit amet vestibulum. Vestibulum euismod cursus arcu sed vehicula. Phasellus congue
              in magna id imperdiet. Donec vel placerat nisl, sed pulvinar turpis. Pellentesque hendrerit blandit
              vestibulum. Mauris luctus quis tellus quis suscipit. Integer ut commodo nunc. Sed sodales, orci a ornare
              tincidunt, dui purus maximus dolor, porta varius urna quam sit amet nibh. Nulla feugiat nibh in dolor
              elementum vehicula. Maecenas sed commodo velit.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
